// src/styles/Body.scss
main {
    padding: 20px;
    .buttons {
        display: flex;
        gap: 10px;
        margin: 20px 0;
        button {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            &:first-of-type {
                background-color: #ff7a59;
                color: white;
            }
            &:last-of-type {
                background-color: transparent;
                border: 1px solid #ff7a59;
                color: #ff7a59;
            }
        }
    }
}