header {
    position: relative;
    background-color: hsl(353, 100%, 62%);
    border-radius: 0 0 0 6.25rem;
    color: white;
    padding: 20px;
    text-align: center;
    .header-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .header-bg-pattern {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        position: relative;
        .logo img {
            width: 100px;
        }
        ul {
            list-style: none;
            display: flex;
            gap: 20px;
            li a {
                text-decoration: none;
                color: white;
            }
        }
        .actions {
            display: flex;
            gap: 10px;
            .login,
            .signup {
                padding: 10px 20px;
                border-radius: 50px;
                text-decoration: none;
            }
            .login {
                background-color: transparent;
                border: 1px solid white;
                color: white;
            }
            .signup {
                background-color: white;
                color: #ff7a59;
            }
        }
    }
    .header-content {
        z-index: 1;
        position: relative;
        margin-top: 50px;
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            margin-bottom: 30px;
        }
        .header-buttons {
            margin: 20px 600px;
            display: flex;
            gap: 50px;
            button {
                padding: 10px;
                border: none;
                cursor: pointer;
                border-radius: 20px;
                &:first-of-type {
                    background-color: white;
                    color: #ff7a59;
                }
                &:last-of-type {
                    background-color: transparent;
                    border: 1px solid white;
                    color: white;
                }
            }
        }
    }
}