.section-designed,
.section-infrastructure,
.section-free,
.section-tooling {
    padding: 3rem;
    gap: 20px;
    text-align: center;
    .text-content {
        margin-bottom: 5rem;
        width: 600px;
    }
    .image-content {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1rem;
        line-height: 1.5;
    }
}