.section-infrastructure {
    background-color: rgb(3, 3, 15);
    height: 50vh;
    border-radius: 0 6.25rem 0 6.25rem;
    margin-bottom: 180px;
    padding: 2rem;
    text-align: center;
    .text-content {
        color: white;
        margin-top: 70px;
    }
    .image-content {
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-top: -20%;
            margin-bottom: -20%;
        }
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: white;
    }
    p {
        font-size: 1rem;
        line-height: 1.5;
        color: white;
        width: 600px;
    }
}